# Outline

This part of the project aims to clean and explore the dataset so that it can be used for building the data app and train the predictive model. We'll go through:

* Dataset introduction;
* Data cleaning and preparation;
* Exploratory data analysis.

-------------------------

### About the abalone dataset

Abalone is a common name for any of a group of small to very large sea snails, marine gastropod molluscs in the family Haliotidae(Wikipedia).

This dataset is used to predict the age of abalone from physical measurements, which are :

* Sex;
* Length (mm);
* Diameter (mm);
* Height (mm);
* Whole weight (grams);
* Shucked weight (grams);
* Viscera weight (grams);
* Shell weight (grams);
* Rings (+1.5 to get the age in years);

For more information you can read the `abalone.names` file or visit the data repository on [UCI](https://archive.ics.uci.edu/dataset/1/abalone).

---------------

### Data cleaning and preparation

In [1]:
import pandas as pd
import numpy as np

Importing the dataset

In [5]:
names = ["Sex", "Length", "Diam", "Height", "Whole", "Shucked", "Viscera", "Shell", "Rings"]
abalone_df = pd.read_csv("abalone.data", header = None, names = names)
abalone_df

     Sex  Length   Diam  Height   Whole  Shucked  Viscera   Shell  Rings
0      M   0.455  0.365   0.095  0.5140   0.2245   0.1010  0.1500     15
1      M   0.350  0.265   0.090  0.2255   0.0995   0.0485  0.0700      7
2      F   0.530  0.420   0.135  0.6770   0.2565   0.1415  0.2100      9
3      M   0.440  0.365   0.125  0.5160   0.2155   0.1140  0.1550     10
4      I   0.330  0.255   0.080  0.2050   0.0895   0.0395  0.0550      7
...   ..     ...    ...     ...     ...      ...      ...     ...    ...
4172   F   0.565  0.450   0.165  0.8870   0.3700   0.2390  0.2490     11
4173   M   0.590  0.440   0.135  0.9660   0.4390   0.2145  0.2605     10
4174   M   0.600  0.475   0.205  1.1760   0.5255   0.2875  0.3080      9
4175   F   0.625  0.485   0.150  1.0945   0.5310   0.2610  0.2960     10
4176   M   0.710  0.555   0.195  1.9485   0.9455   0.3765  0.4950     12

[4177 rows x 9 columns]

General information